/*  Action button */

.action-div {
  width: 10rem;
}

.popover-box {
  display: flex;
  padding: 20px 15px;
  flex-direction: column;
  gap: 10px;
  z-index: 9;
  /* width: 11rem; */
}

.transaction-overlay {
  display: flex;
  align-items: space-between;
}

.table-btn.list-btn strong {
  position: absolute;
  left: 48px;
  top: 3px;
}

button.close-filter {
  position: absolute;
  right: 0;
  top: 0;
  color: #333;
  z-index: 9;
  min-width: auto;
}

.filter-main-div {
  display: grid;
  justify-content: center;
  align-items: center;
}

/* #outlined-basic {
  padding: 15px 70px;
} */
#demo-radio-buttons-group-label {
  margin-bottom: 10px;
  margin-top: 10px;
  /* font-size: 14px; */
}

/* .MuiOutlinedInput-notchedOutline.css-1d3z3hw-MuiOutlinedInput-notchedOutline.css-yjsfm1.span{
  font-size: 14px !important;
} */
.advanced-filter {
  color: #03a9f4;
  font-weight: 600;
  letter-spacing: 0.03rem;
  font-size: 17px;
}

.filter-textfield {
  margin-bottom: 15px;
  text-align: center;
}

.filter-label {
  margin-left: 12%;
}

/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.FormFieldGrid-grid.css-fh77m5-MuiGrid-root {
  margin-left: 18%;
} */
.ag-theme-right-col {
  margin-left: auto;
}

.filter-col {
  display: none;
}

button.download-csv-button {
  float: none;
  background: #fff;
  color: var(--bs-blue);
  text-decoration: none;
  padding: 5px 7px 3px 7px;
  border-radius: 6px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  position: relative;
  font-size: 0.8rem;
  letter-spacing: 0.03rem;
  font-weight: 600;
  border: 1px solid var(--bs-blue);
  height: 36px;
  line-height: 36px;
  min-width: 32px;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease 0s;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
  cursor: pointer;
  z-index: 2;
}

button.download-csv-button strong {
  font-size: 0;
  font-weight: 600;
  transition: all 0.5s ease 0s;
  display: none;
  margin: 0 0 0 0px;
  position: relative;
  padding: 0 0 0 30px;
}

button.download-csv-button:hover {
  background: var(--bs-blue) !important;
  border-color: var(--bs-blue);
  transition: all 0.5s ease 0s;
}

button.download-csv-button:hover strong {
  display: inline-block;
  transition: all 0.5s ease 0s;
  font-size: 0.8rem;
  margin: 0 0 0 0px;
  position: relative;
  color: #fff;
  left: -18px;
  top: -7px;
}

button.download-csv-button:hover svg {
  fill: #ffffff;
}

.f-11 {
  font-size: 11px;
}

/*   ======= filter button css =============*/

button.nx-gen-filter-btn {
  position: absolute;
  right: 80px !important;
  top: 61px;
}

.badge {
  position: absolute;
  left: -10px;
  top: -1px;
  background: #ffffff;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 44px;
  line-height: 16px;
  font-size: 11px;
  font-weight: 600;
  color: var(--bs-blue);
  border: 1px solid var(--bs-blue);
  z-index: 999;
}

.popover-box-div {
  min-width: 520px;
  max-width: 520px;
  right: 15px;
  position: relative;
  z-index: 99;
  border: none !important;
  border-radius: 8px;
  top: 4px;
  padding: 15px 20px;
  box-shadow: 0 6px 20px -2px rgb(0 0 0 / 20%);
  margin-top: -18px;
}

.popover-box-div h3 {
  font-size: 1rem;
  text-transform: uppercase;
  margin: -18px -20px 15px -20px;
  border-bottom: 1px solid #ccc;
  font-weight: bolder !important;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px !important;
  height: 72px !important;
  background: linear-gradient(180deg, rgba(253, 164, 44, 0.7) -26.39%, rgba(255, 191, 105, 0.4) 100%), #FFFFFF;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 16px 16px 0px 0px;
}
.popover-box-div h3 .flex div {
  background: #fff;
  border-radius: 8px;
  padding: 4px 5px;
  display: flex;
}
.filter-body {
  padding-top: 15px;
  margin-bottom: 0px;
  position: relative;
}

.filter-body:first-child {
  z-index: 10;
}

.filter-body:nth-child(2) {
  z-index: 9;
}

.filter-body:nth-child(3) {
  z-index: 8;
}

.filter-body:nth-child(4) {
  z-index: 7;
}

.filter-body:nth-child(5) {
  z-index: 6;
}

.filter-body:nth-child(6) {
  z-index: 5;
}

.filter-footer {
  position: relative;
  padding: 10px 0px 0;
  border-top: 1px solid #e5e5e5;
  margin: 15px 0px 0;
  text-align: left;
  z-index: 1;
}

.filter-footer button {
  border: 0;
  background: transparent;
  vertical-align: middle;
  display: inline-block;
  margin: 0px 20px 0px 0;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 9px 10px;
  color: var(--bs-blue);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.filter-scroller {
  position: relative;
  overflow: hidden;
  max-height: 52vh;
  overflow-y: auto;
}

.filter-footer button svg {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.2rem;
}

button.reset-filter {
  color: #1a1a1a;
  background: #ffffff;
  width: 48%;
  margin: 0 !important;
}
button.Apply-filter {
  background: var(--color-primary);
  color: #fff;
  width: 48%;
}

button.close-filter {
  position: relative;
  /* right: 2px;
  top: 6px; */
  color: #333;
  z-index: 9;
  min-width: auto;
}

.filter-body input {
  padding: 9.5px 18px 11px;
  font-size: 0.85rem;
  height: 1.4375em;
}

.filter-body .box-listing.edit-box label {
  transform: translate(14px, -9px) scale(0.92) !important;
  background: #fff;
  color: var(--bs-blue) !important;
}

button.add-new-filter {
  font-size: 14px;
  position: relative;
  bottom: 0px;
  z-index: 999;
  color: var(--bs-blue);
  left: 0px;
  background: transparent;
  box-shadow: none !important;
  width: auto;
  display: block;
  padding: 0 0 0 0;
  margin: 0 0 6px 0;
}

button.add-new-filter svg {
  vertical-align: middle;
  display: inline-block;
  font-size: 1.2rem;
  margin-right: 6px;
}

.filter-body span .box-listing.edit-box {
  margin-bottom: 10px;
}

.filter-body .detail-list {
  width: 100%;
}

.filter-body .active-list {
  width: 95%;
}

button.remove-current-filter {
  position: absolute;
  right: -13px;
  z-index: 99;
  min-width: auto;
}

.scroll-div-cont {
  position: relative;
  height: auto;
  max-height: 250px;
  overflow: hidden;
  overflow-y: auto;
  min-height: 100px;
}

.filter-body span.two-column .box-listing.edit-box {
  display: inline-block;
}

.MuiMenu-list li.MuiMenuItem-root.Mui-selected::before {
  content: "✔";
  position: absolute;
  left: 10px;
  z-index: 9999;
  color: #4caf50;
}

.MuiMenu-list li.MuiMenuItem-root.Mui-selected {
  position: relative;
  padding-left: 27px;
}

/*=========== columns css width ================*/

span.two-column .box-listing.edit-box {
  width: 48.333%;
  margin: 0 0.8% 20px;
}

span.two-column:nth-child(3) .box-listing.edit-box,
span.two-column:nth-child(5) .box-listing.edit-box,
span.two-column:nth-child(7) .box-listing.edit-box,
span.two-column:nth-child(9) .box-listing.edit-box,
span.two-column:nth-child(11) .box-listing.edit-box,
span.two-column:nth-child(13) .box-listing.edit-box {
  margin-right: 0;
}

span.three-column .box-listing.edit-box {
  width: 32%;
  margin: 0 0.8% 20px;
}

span.three-column:nth-child(4) .box-listing.edit-box,
span.three-column:nth-child(7) .box-listing.edit-box,
span.three-column:nth-child(10) .box-listing.edit-box,
span.three-column:nth-child(13) .box-listing.edit-box {
  margin-right: 0;
}

span.four-column .box-listing.edit-box {
  width: 23.6%;
  margin: 0 0.8% 20px;
}

span.four-column:nth-child(5) .box-listing.edit-box,
span.four-column:nth-child(9) .box-listing.edit-box,
span.four-column:nth-child(13) .box-listing.edit-box,
span.four-column:nth-child(17) .box-listing.edit-box,
span.four-column:nth-child(21) .box-listing.edit-box,
span.four-column:nth-child(25) .box-listing.edit-box {
  margin-right: 0;
}

span.two-column .box-listing.product-box {
  width: 33% !important;
}

.filter-body span.two-column .box-listing.edit-box {
  display: inline-block;
}

#demo-simple-select-label {
  background: white;
  padding: 0px 5px;
}

#outlined-basic-label {
  background: white;
}

/*  */
button.list-btn.list-refund-btn {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

button.list-btn.list-void-btn {
  color: #fefefe !important;
  border: 1px solid #ffffff !important;
  height: 2rem;
}

button.list-btn.list-capture-btn {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  height: 2rem;
}

.list-dispute-btn {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
}

.list-dispute-btn.table-btn.list-btn.view-details strong {
  color: #ffffff;
}

.react-datepicker-popper {
  position: fixed !important;
}

.popover-box button.table-btn.list-btn.view-details.list-refund-btn {
  color: #06b1ef !important;
  border: 1px solid #06b1ef !important;
}

.popover-box button.table-btn.list-btn.view-details.list-refund-btn strong {
  color: #06b1ef !important;
}

.popover-box button.table-btn.list-btn.list-capture-btn {
  color: #019a4c !important;
  border: 1px solid #019a4c !important;
}


.popover-box button.table-btn.list-btn.list-void-btn {
  color: #49505a !important;
  border: 1px solid #49505a !important;
}

.popover-box button.table-btn.list-btn.list-void-btn strong {
  color: #49505a !important;
}

/* ======================= */
.MuiPaper-root.MuiMenu-paper.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  /* margin-top: 11.4rem; */
  width: 13.5rem;
  /* margin-left: -2rem; */
}

div#filter-select {
  font-size: .85rem;
}

.side-menu .main-menu .menu-item.active .menu-icon i.bi-hammer {
  -webkit-text-stroke-color: var(--bs-blue-light);
}

.subscriptionFilter {
  z-index: 9999;
}

.date-range-picker {
  z-index: 100;
}


.div-wrap {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

/* New Filter Css */
.adv-filter-wrap .form-group {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0 0 0px 0;
}

.adv-filter-wrap .form-group .ant-col.ant-form-item-label {
  width: 100%;
  text-align: left;
}

.adv-filter-wrap .form-group .ant-select-selector {
  border: 0 !important;
  padding-left: 0;
  box-shadow: none !important;
  border-color: transparent !important;
}

.adv-filter-wrap .form-group input {
  border: 0 !important;
  padding-left: 0;
}

.adv-filter-wrap .form-group .ant-form-item {
  margin: 0;
}

.adv-filter-wrap .form-group .ant-input-outlined:focus-within {
  box-shadow: 0 0 0;
  outline: transparent;
  border-color: transparent
}

.adv-filter-wrap .form-group .ant-select-selector:focus,
.adv-filter-wrap .form-group .ant-select-selector:active,
.adv-filter-wrap .form-group .ant-select-selector:hover {
  box-shadow: none !important;
}

.adv-filter-wrap .form-group .ant-select-focused.ant-select-outlined.ant-select-selector {
  box-shadow: none !important;
  border-color: transparent !important;
}

.adv-filter-wrap .form-group span.ant-select-selection-placeholder {
  font-size: .75rem;
}

.adv-filter-wrap .form-group .ant-picker.ant-picker-outlined {
  border: 0;
  box-shadow: none;
  padding-left: 0;
}

.filter-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  align-items: center;
}

.wrapper-filter {
  border: 1px solid var(--bs-blue);
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  gap: 8px;
  align-items: center;
  min-height: 29px;
}

.wrapper-filter fieldset {
  border: 0;
}

.wrapper-filter .MuiInputBase-root {
  padding: 0 !important;
  height: 30px !important;
  line-height: 30px !important;
}

.wrapper-filter .form-group {
  margin: 0 !important;
}

.wrapper-filter .form-group .MuiOutlinedInput-root .MuiAutocomplete-input {
  padding: 0px 0px 0px 0px;
}

.flex {
  display: flex;
  flex-direction: row;
  gap: 10px
}

.box-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper-filter .form-group input {
  height: 24px;
  padding: 0 0;
  background: transparent;
  font-size: 14px;
}

.wrapper-filter .form-group .MuiInputBase-input.MuiOutlinedInput-input {
  padding: 2px 0px !important;
  min-height: 24px !important;
  font-size: 14px;
}

.label-wrap {
  width: max-content;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.label-operator-wrap {
  width: max-content;
  font-size: 13px;
}

.label-operator-wrap span {
  width: max-content;
  font-size: 13px;
  cursor: pointer;
}

.filter-scroller.filter-scroller-visible.filter-content.new-filter-scroller {
  position: relative;
  overflow: hidden;
  max-height: max-content;
}

.label-operator-form-wrap {
  width: 100%;
}

.label-operator-form-wrap .text-xs {
  width: 100%;
  display: grid;
}

/* .label-operator-form-wrap input {
  font-size: .75rem !important;
} */

.label-operator-form-wrap>.date-range-view>.MuiTextField-root {
  width: 100%;
}

.form-group.label-operator-form-wrap .MuiInputBase-root.MuiOutlinedInput-root {
  /* width: 15vw !important; */
  /* display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
  overflow: hidden;
}

.form-group.label-operator-form-wrap .date-range-picker {
  width: 100%;
  position: relative;
  z-index: 99999;
}

div#filter-select p {
  display: inline-flex;
  font-size: 13px;
  margin: 0;
}

.form-group.label-operator-form-wrap .MuiInputBase-root.MuiOutlinedInput-root .MuiButtonBase-root.MuiChip-root span.MuiChip-label {
  font-size: 12px;
}

.label-operator-form-wrap>div>div>div>.MuiChip-root {
  height: 25px;
  margin-right: 3px;
}

.select-operand-box {
  border: 1px solid var(--bs-blue);
}

.wrapper-filter .form-group input::placeholder {
  color: var(--bs-blue) !important;
  opacity: 1 !important;
}

.wrapper-filter .form-group .MuiInputBase-input::placeholder {
  color: var(--bs-blue) !important;
  opacity: 1 !important;
}

.wrapper-filter .form-group .MuiAutocomplete-input::placeholder {
  color: var(--bs-blue) !important;
  opacity: 1 !important;
}

.box-wrap {
  display: flex;
  align-items: center;
  width: 100%;
}

.new-gen-filter-action-button {
  border: 1px solid #1a1a1a;
  height: 27px;
  background: transparent;
  cursor: pointer;
  color: #1a1a1a;
  border-radius: 4px;
  padding: 0 0px;
  display: flex;
  align-items: center;
  min-width: 27px;
  justify-content: center;
}
button.new-gen-filter-action-button:last-child
 {
    background: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
    text-transform: uppercase;
    padding: 0px 10px;
    font-size: 12px;
    font-weight: 600;
}
button.new-gen-filter-action-button:last-child:hover{
  background: #de7d07;
    border-color: #de7d07;
    color: #fff;
}
.next-gen-filter-wrap
 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 6px 8px 10px;
  width: 480px;
  height: 36px;
  background: #FFFFFF;
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  position: absolute;
  right: 125px;
  z-index: 1;
}

  
  .p-0-inline .MuiInputBase-root {
      padding: 0 !important;
  }
  .p-0-inline .MuiInputBase-root input{
    font-size: 13px;
  }
  .p-0-inline .MuiInputBase-root input:focus {
      outline: 0;
  }
  
  .p-0-inline .MuiInputBase-root fieldset {
      border: 0;
  }
  ul.MuiAutocomplete-listbox li {
    font-size: 13px;
}
.MuiList-root.MuiList-padding.MuiMenu-list li.MuiButtonBase-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiMenuItem-root.MuiMenuItem-gutters p {
  margin: 0;
  font-size: 13px;
}
.form-group.p-0-inline.label-form-wrap input, .form-group.p-0-inline.label-operator-wrap input {
  position: relative;
  top: 1px;
}
.form-group.p-0-inline.label-operator-form-wrap input{
  position: relative;
  top: 1px;
}
.form-group.p-0-inline.label-operator-form-wrap .MuiInputBase-root.MuiOutlinedInput-root div#filter-select {
  margin: 0;
  line-height: normal;
  min-height: auto;
  padding: 0px 0 !important;
  position: relative;
  top: 11px;
}
.next-gen-filter-wrap .MuiStack-root.filter-chips {
  position: absolute;
  right: 0%;
  background: #fff;
  min-width: 480px;
  max-width: 480px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.04);
  z-index: 99;
  top: 100%;
  border: 1px solid rgba(219, 219, 219, 1);
}
.new-gen-filter-action-button:nth-child(2) div svg {
  width: 15px;
}
.new-gen-filter-action-button div svg
{
  width: 21px;
  height: 21px;
}
svg.column-preference-svg {
  width: 34px;
  height: 34px;
  position: relative;
  top: 3px;
}
.download-report-title-svg-wrap svg {
  width: 32px;
  height: 32px;
  position: relative;
  top: 2px;
}
button.requestbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;
  border: none;
  height: 48px;
  background: var(--color-primary);
  box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
}
h5.total-records-found {
  font-size: 14px;
  font-weight: 400;
  color: #4D4D4D;
}
.download-item-lists {
  box-sizing: border-box;
  padding: 0px 12px 12px;
  width: 100%;
  min-height: 72px;
  background: #FAFAFA;
  border: 1px solid #E5E5E5;
  border-radius: 8px;
  margin: 0 0 15px 0px;
}
.flex.download-list-name span, .flex.download-list-name {
  height: 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #1A1A1A;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.download-btn-wrap img {
  width: 21px;
  position: relative;
  margin: 6px 15px 0px 0;
}
.t-download-list-filter h3 {
  height: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #4D4D4D;
}
button.dwnld-rep-btn {
  padding: 0;
  border: none;
  background: transparent;
  /* height: 42px;
  width: 42px; */
  border-radius: 0;
  box-shadow: none;
}
button.dwnld-rep-btn:hover, button.dwnld-rep-btn:focus{
  background: transparent !important;
  box-shadow: 0 0 0;
}
button.dwnld-rep-btn .download-report-title-svg-wrap svg {
  width: 40px;
  height: 40px;
}
.report-status {
  padding: 2px 4px;
  height: 20px;
  background: #ececec;
  border-radius: 4px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
}
.Ready{
  background: #C6F3DA;
  color: #1E8F1F;
}
.Failed {
  background: #fbd0d0;
  color: #fe3030;
}
.Initiated {
  background: #fbe5d0;
  color: #fea830;
}
.In.Progress {
  background: transparent;
  color: #1a1a1a;
}
.In.Progress svg {
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
}
.download-list-wrapper {
  height: 42vh;
  overflow: hidden;
  overflow-y: auto;
  padding: 6px 8px 6px 0;
  margin: 0px 0 0 0;
}

div#transaction-filter-popover .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded {
  padding: 20px 20px;
  min-width: 280px;
}

div#transaction-filter-popover .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded h3 {
  margin: -8px -21px 12px -21px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding: 0 15px 12px 17px;
  font-weight: 600;
}

div#transaction-filter-popover .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded .filt-listing h4 {
  font-weight: 600;
  font-size: 14px;
  color: #1a1a1a;
}

div#transaction-filter-popover .MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded .filt-listing h4 span {
  font-weight: 400;
  color: #8d8d8d;
  display: inline-block;
  margin: 0 0 0 5px;
}
button.ant-btn.ant-btn-default.filtered-items {
  position: relative;
  top: 5px;
  min-width: auto;
  border: 0;
  background: transparent;
  color: #e56523;
}

button.close-filter-popper {
  position: absolute;
  right: 9px;
  top: 7px;
  background: transparent;
  border: 0;
  z-index: 99999;
  cursor: pointer;
}

.confirm-close {
  position: absolute;
  right: 20px;
  top: 17px;
}

.confirm-close button.btn-close {
  opacity: 1;
  filter: invert(1);
  cursor: pointer;
}
.download-item-lists .ant-progress {
  top: -13px;
}
.ant-progress-bg.ant-progress-bg-outer {
  height: 4px !important;
}
.drawer-header.preference-header button div {
  display: flex;
}
span.MuiBadge-root.tooltip-menu.badge-class span.MuiBadge-badge {
  background-color: #000;
  border-radius: 5px;
  right: -2px;
  top: 1px;
}
.next-gen-filter-wrap .MuiStack-root.filter-chips .form-group.p-0-inline.label-and-or-form-wrap .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-sizeSmall.select-operand-box.MuiSelect-root {
  line-height: 24px;
  height: 24px;
  font-size: 14px;
}

.next-gen-filter-wrap .MuiStack-root.filter-chips .form-group.p-0-inline.label-and-or-form-wrap .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-sizeSmall.select-operand-box.MuiSelect-root div#filter-select {
  font-size: 13px;
  padding: 6px 28px 6px 7px;
}
.popover-box-div h3 button.MuiButtonBase-root div {
  display: flex;
}